* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
#search-container {
    text-align: right;
    background-color: #0a0101;
}

#search-input {
    padding: 5px;
    width: 150px;
}

#search-button {
    padding: 5px 10px;
    background-color: #21f0bc;
    color: rgb(12, 0, 0);
    border: none;
    cursor: pointer;
}

  .navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(10, 10, 10);
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #4dbf00;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  
  .container {
    background-color: #0a0101;
    min-height: calc(100vh - 50px);
    color: white;
    justify-content: center;
  }
  
  .content-container {
    margin-left: 50px;
  }
  
  .featured-content {
    height: 70vh;
    padding: 50px;
    justify-content: center;
  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 500px;
    color: rgb(5, 233, 47);
    margin: 30px 0;
    font-size: xx-large;
    font-weight: bold;
  }
  
  .movie-list-container {
    padding: 0 20px;
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }

   .movie-list-item-button {
    padding: 10px;
    background-color: #ecf804;
    color: rgb(12, 1, 1);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  } 
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  }
